* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	gap: 10px;
	background:url('./pics/background.jpg');
}
.meme-slider_container {
	display: flex;
	flex-direction: column;
	row-gap: 10px;

}

.bottom-row {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.wrapper_1 {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	margin: 0;
	width: 30%;
}

.wrapper_3 {
	display: flex;
	margin: 0;
	column-gap: 20px;
	max-width: 70%;
	overflow: hidden;
	--currentIndex: 0;
}

.wrapper_2 {
	display: flex;
	margin: 0 auto;
	max-width: 100%;
	overflow: hidden;
	--currentIndex: 0;
}

.wrapper_1 .block {
	cursor: pointer;
}

.block1 {
	--width: 20px;
	--height: 20px;
	--gap: 10px;
	--offsetWidth: calc(var(--width) + var(--gap));
	color: white;
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: var(--width);
	min-height: var(--height);
	max-width: var(--width);
	max-height: var(--height);
	background-color: rgb(255, 119, 0);
	border: 3px solid transparent;
	transition: border-color 0.2s ease-in-out;
}

.block1:hover {
	background-color: rgb(238, 167, 105);
}

.block {
	--width: 100%;
	--height: 100%
	--gap: 10px;
	--offsetWidth: 100%;
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: var(--width);
	min-height: var(--height);
	max-width: var(--width);
	max-height: var(--height);
	transition: 0.2s ease-in-out;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.wrapper_3 .block3 {
	max-width: 100%;
	min-width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
  line-height: 30px;
	color: #cc1bab;
}


.wrapper_2 .block, .wrapper_3 .block3 {
	cursor: pointer;
	--translateX: calc(-1 * (var(--currentIndex)) * 100%);
	transform: translate(calc(var(--translateX)), 0);
	transition: transform 0.2s linear;
}



.block_active {
	border-color: black;
}


